<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 EaDesign by Eco Active S.R.L. All rights reserved.
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productfeed>
            <general>
                <enable_frontend>1</enable_frontend>
            </general>
        </productfeed>
    </default>
</config>